* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fffbfa;
  font-family: "Josefin Sans", sans-serif;
}

/* ---------------------------------------------------------------------------------------------- */
/* THE STYLES BELOW HANDLE POSITIONING / LAYOUT (START) */
/* ---------------------------------------------------------------------------------------------- */
.grid-container {
  border: 2px solid blueviolet;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
}

.item1 {
  /* background-color: lightblue; */
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  background-color: lightsalmon;
  grid-column: 1;
  grid-row: 2 / 4;
}

.item3 {
  background-color: lightgreen;
  grid-column: 2;
  grid-row: 1 / 4;
}
/* ---------------------------------------------------------------------------------------------- */
/* POSITIONING / LAYOUT (END) */
/* ---------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* STYLING FOR EACH GRID ITEM (START) */
/* ---------------------------------------------------------------------------------------------- */
.item1.logo-container {
  display: flex;
  flex-direction: column;
}

.item1.logo-container a {
  border: 2px solid orangered;
  /* display: block; */
  width: fit-content;
}

/* ---------------------------------------------------------------------------------------------- */
/* STYLING FOR MOBILE DEVICES */
/* ---------------------------------------------------------------------------------------------- */

/* Media query for screen sizes <= 769px */
@media (max-width: 769px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto; /* Let rows grow naturally */
    }
  
    .item1,
    .item2,
    .item3 {
      grid-column: 1;
      grid-row: auto; /* Stack naturally */
    }
  
    .item1 {
      grid-row: 1;
    }
  
    .item2 {
      grid-row: 3;
    }
  
    .item3 {
      grid-row: 2;
    }
  }
  